header {
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
